@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
  --primary-color: #2c3e50; /* Dark Blue */
  --secondary-color: rgba(173, 216, 230, 0.8); /* light grey */
  --background-color: #ecf0f1; /* Light Grayish Blue */
  --card-background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent White */
  --text-color: #34495e; /* Dark Gray */
  --input-border-color: #bdc3c7; /* Light Gray */
  --button-hover-color: rgb(24, 154, 194);/* Dark Red */
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body {
  background-image: url("https://i.pinimg.com/originals/29/cb/d5/29cbd5c73bac071fb7ade09bcac4feb8.gif");
  background-size: contain;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.converter-wrapper {
  background-color:var(--secondary-color);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin: 1rem;
}

header h1 {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.converter-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature select,
.temperature input {
  margin: 0.75rem 0;
  padding: 0.75rem;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-size: 16px;
  width: 150px;
  color: var(--text-color);
  background-color: rgb(200, 227, 236);
}

#swap-button {
  background-color:rgb(19, 116, 146);
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease;
}

#swap-button:hover {
  background-color: var(--button-hover-color);
}

#conversion-result {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .converter-box {
    flex-direction: column;
  }
}
